<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AlterarCliente</display-name>
    <servlet-name>AlterarCliente</servlet-name>
    <servlet-class>br.com.jubileu.controlejubileu.controller.AlterarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarCliente</servlet-name>
    <url-pattern>/AlterarCliente</url-pattern>
  </servlet-mapping>
  <display-name>controlejubileu</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ExcluirCliente</display-name>
    <servlet-name>ExcluirCliente</servlet-name>
    <servlet-class>br.com.jubileu.controlejubileu.controller.ExcluirCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirCliente</servlet-name>
    <url-pattern>/ExcluirCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncluirCliente</display-name>
    <servlet-name>IncluirCliente</servlet-name>
    <servlet-class>br.com.jubileu.controlejubileu.controller.IncluirCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncluirCliente</servlet-name>
    <url-pattern>/IncluirCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarCliente</display-name>
    <servlet-name>IniciarAlterarCliente</servlet-name>
    <servlet-class>br.com.jubileu.controlejubileu.controller.IniciarAlterarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarCliente</servlet-name>
    <url-pattern>/IniciarAlterarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarUsuario</display-name>
    <servlet-name>AlterarUsuario</servlet-name>
    <servlet-class>br.com.jubileu.controlejubileu.controller.AlterarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarUsuario</servlet-name>
    <url-pattern>/AlterarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncluirUsuario</display-name>
    <servlet-name>IncluirUsuario</servlet-name>
    <servlet-class>br.com.jubileu.controlejubileu.controller.IncluirUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncluirUsuario</servlet-name>
    <url-pattern>/IncluirUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirUsuario</display-name>
    <servlet-name>ExcluirUsuario</servlet-name>
    <servlet-class>br.com.jubileu.controlejubileu.controller.ExcluirUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirUsuario</servlet-name>
    <url-pattern>/ExcluirUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarUsuario</display-name>
    <servlet-name>IniciarAlterarUsuario</servlet-name>
    <servlet-class>br.com.jubileu.controlejubileu.controller.IniciarAlterarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarUsuario</servlet-name>
    <url-pattern>/IniciarAlterarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarFornecedor</display-name>
    <servlet-name>AlterarFornecedor</servlet-name>
    <servlet-class>br.com.jubileu.controlejubileu.controller.AlterarFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarFornecedor</servlet-name>
    <url-pattern>/AlterarFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirFornecedor</display-name>
    <servlet-name>ExcluirFornecedor</servlet-name>
    <servlet-class>br.com.jubileu.controlejubileu.controller.ExcluirFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirFornecedor</servlet-name>
    <url-pattern>/ExcluirFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncluirFornecedor</display-name>
    <servlet-name>IncluirFornecedor</servlet-name>
    <servlet-class>br.com.jubileu.controlejubileu.controller.IncluirFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncluirFornecedor</servlet-name>
    <url-pattern>/IncluirFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarFornecedor</display-name>
    <servlet-name>IniciarAlterarFornecedor</servlet-name>
    <servlet-class>br.com.jubileu.controlejubileu.controller.IniciarAlterarFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarFornecedor</servlet-name>
    <url-pattern>/IniciarAlterarFornecedor</url-pattern>
  </servlet-mapping>
</web-app>